In [4]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
print("hello")

hello

In [4]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows= 100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
pd.read_sql(con=engine, sql = "select 1 as no")

   no
0   1

In [59]:
%time
df.head(0).to_sql(name = "ny_taxi", con=engine, if_exists= "replace")

CPU times: user 3 μs, sys: 0 ns, total: 3 μs
Wall time: 20 μs

0

In [74]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize = 100000)

In [75]:
from time import time

while True:
    try:
    
        start_time = time()
        
        df = next(df_iter)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        
        df.to_sql(name="ny_taxi", con=engine, if_exists = "append")
        
        end_time = time()
        
        print("inserted 100000 chunks, took %.3f" % (end_time-start_time)) 
    
    except StopIteration:
        break

inserted 100000 chunks, took 5.900
inserted 100000 chunks, took 5.589
inserted 100000 chunks, took 5.450
inserted 100000 chunks, took 5.617
inserted 100000 chunks, took 5.466
inserted 100000 chunks, took 6.436
inserted 100000 chunks, took 6.085
inserted 100000 chunks, took 5.510
inserted 100000 chunks, took 5.886
inserted 100000 chunks, took 5.817
inserted 100000 chunks, took 5.704
inserted 100000 chunks, took 6.580

/var/folders/2d/272ywp112_39h3qdgj9g8gym0000gn/T/ipykernel_90397/2171654052.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted 100000 chunks, took 5.618
inserted 100000 chunks, took 3.875

In [83]:
#to drop table

from sqlalchemy import text
with engine.begin() as conn:
    conn.execute(text("drop table ny_taxi1"))

In [6]:
zones_df = pd.read_csv("taxi_zone_lookup.csv")

zones_df.to_sql("zones", con=engine, if_exists="replace")

265