In [4]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
print("hello")

hello

In [4]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows= 100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
pd.read_sql(con=engine, sql = "select 1 as no")

   no
0   1

In [59]:
%time
df.head(0).to_sql(name = "ny_taxi", con=engine, if_exists= "replace")

CPU times: user 3 μs, sys: 0 ns, total: 3 μs
Wall time: 20 μs

0

In [74]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize = 100000)

In [75]:
from time import time

while True:
    try:
    
        start_time = time()
        
        df = next(df_iter)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        
        df.to_sql(name="ny_taxi", con=engine, if_exists = "append")
        
        end_time = time()
        
        print("inserted 100000 chunks, took %.3f" % (end_time-start_time)) 
    
    except StopIteration:
        break

inserted 100000 chunks, took 5.900
inserted 100000 chunks, took 5.589
inserted 100000 chunks, took 5.450
inserted 100000 chunks, took 5.617
inserted 100000 chunks, took 5.466
inserted 100000 chunks, took 6.436
inserted 100000 chunks, took 6.085
inserted 100000 chunks, took 5.510
inserted 100000 chunks, took 5.886
inserted 100000 chunks, took 5.817
inserted 100000 chunks, took 5.704
inserted 100000 chunks, took 6.580

/var/folders/2d/272ywp112_39h3qdgj9g8gym0000gn/T/ipykernel_90397/2171654052.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted 100000 chunks, took 5.618
inserted 100000 chunks, took 3.875

In [83]:
#to drop table

from sqlalchemy import text
with engine.begin() as conn:
    conn.execute(text("drop table ny_taxi1"))

In [10]:
import pandas as pd
import os

# os.system("wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -O taxi_zone_lookup.csv")

zones_df = pd.read_csv("taxi_zone_lookup.csv")

zones_df.to_sql("zones", con=engine, if_exists="replace")

265

In [3]:
import os

os.system("wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz")
os.system("gunzip green_tripdata_2019-10.csv.gz")

--2025-07-06 00:37:15--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250705%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250705T163715Z&X-Amz-Expires=1800&X-Amz-Signature=b7a04028db2f81d15f8459e0c92edad88e5efcc127a0c82ed112af0a772ca228&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-07-06 00:37:15--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250705%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250705T163715Z&X-Amz-Expires=1800&X-Amz-Signature=b7a04028db2f81d15f8459e0c92edad88e5efcc127a0c82ed112af0a772ca228&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz.1’

     0K .......... .......... .......... .......... ..........  0% 6.97M 1s
    50K .......... .......... .......... .......... ..........  1% 16.4M 1s
   100K .......... .......... .......... .......... ..........  1% 13.2M 1s
   150K .......... .......... .......... .......... ..........  2% 12.5M 1s
   200K .......... .......... .......... .......... ..........  3%  474M 1s
   250K .......... .......... .......... .......... ..........  3% 25.8M 1s
   300K .......... .......... .......... .......... ..........  4% 30.9M 0s
   350K .......... .......... .......... .......... ..........  4% 12.9M 0s
   400K .......... .......... .......... .......... ..........  5% 50.2M 0s
   450K .......... .......... .......... .......... ..........  6% 47.7M 0s
   500K .......... .......... .......... .......... ..........  6% 77.9M 0s
   550K .......... .......... .......... .......... ..........  7% 47.5M 0s
   600K .......... .......... .......... .......... ..........  8% 50.0M 0s
   650K .......... .......... .......... .......... ..........  8%  144M 0s
   700K .......... .......... .......... .......... ..........  9% 46.0M 0s
   750K .......... .......... .......... .......... ..........  9% 27.7M 0s
   800K .......... .......... .......... .......... .......... 10% 34.9M 0s
   850K .......... .......... .......... .......... .......... 11%  581M 0s
   900K .......... .......... .......... .......... .......... 11% 19.0M 0s
   950K .......... .......... .......... .......... .......... 12% 61.8M 0s
  1000K .......... .......... .......... .......... .......... 13% 73.5M 0s
  1050K .......... .......... .......... .......... .......... 13%  135M 0s
  1100K .......... .......... .......... .......... .......... 14% 70.0M 0s
  1150K .......... .......... .......... .......... .......... 14% 61.5M 0s
  1200K .......... .......... .......... .......... .......... 15% 32.4M 0s
  1250K .......... .......... .......... .......... .......... 16% 80.8M 0s
  1300K .......... .......... .......... .......... .......... 16%  139M 0s
  1350K .......... .......... .......... .......... .......... 17%  118M 0s
  1400K .......... .......... .......... .......... .......... 17% 55.7M 0s
  1450K .......... .......... .......... .......... .......... 18%  212M 0s
  1500K .......... .......... .......... .......... .......... 19% 45.6M 0s
  1550K .......... .......... .......... .......... .......... 19% 77.5M 0s
  1600K .......... .......... .......... .......... .......... 20% 85.5M 0s
  1650K .......... .......... .......... .......... .......... 21% 65.6M 0s
  1700K .......... .......... .......... .......... .......... 21%  125M 0s
  1750K .......... .......... .......... .......... .......... 22% 49.3M 0s
  1800K .......... .......... .......... .......... .......... 22% 80.0M 0s
  1850K .......... .......... .......... .......... .......... 23% 34.4M 0s
  1900K .......... .......... .......... .......... .......... 24% 80.4M 0s
  1950K .......... .......... .......... .......... .......... 24% 13.0M 0s
  2000K .......... .......... .......... .......... .......... 25% 67.5M 0s
  2050K .......... .......... .......... .......... .......... 26% 28.9M 0s
  2100K .......... .......... .......... .......... .......... 26%  265M 0s
  2150K .......... .......... .......... .......... .......... 27%  153M 0s
  2200K .......... .......... .......... .......... .......... 27% 53.4M 0s
  2250K .......... .......... .......... .......... .......... 28% 75.0M 0s
  2300K .......... .......... .......... .......... .......... 29% 48.7M 0s
  2350K .......... .......... .......... .......... .......... 29%  394M 0s
  2400K .......... .......... .......... .......... .......... 30% 25.2M 0s
  2450K .......... .......... .......... .......... .......... 30% 88.3M 0s
  2500K .......... .......... .......... .......... .......... 31%  130M 0s
  2550K .......... .......... .......... .......... .......... 32% 61.3M 0s
  2600K .......... .......... .......... .......... .......... 32%  109M 0s
  2650K .......... .......... .......... .......... .......... 33% 73.5M 0s
  2700K .......... .......... .......... .......... .......... 34%  105M 0s
  2750K .......... .......... .......... .......... .......... 34% 37.0M 0s
  2800K .......... .......... .......... .......... .......... 35%  323M 0s
  2850K .......... .......... .......... .......... .......... 35% 45.0M 0s
  2900K .......... .......... .......... .......... .......... 36%  440M 0s
  2950K .......... .......... .......... .......... .......... 37% 63.5M 0s
  3000K .......... .......... .......... .......... .......... 37% 59.8M 0s
  3050K .......... .......... .......... .......... .......... 38%  152M 0s
  3100K .......... .......... .......... .......... .......... 39% 77.3M 0s
  3150K .......... .......... .......... .......... .......... 39% 55.2M 0s
  3200K .......... .......... .......... .......... .......... 40%  122M 0s
  3250K .......... .......... .......... .......... .......... 40% 33.4M 0s
  3300K .......... .......... .......... .......... .......... 41% 80.7M 0s
  3350K .......... .......... .......... .......... .......... 42% 75.6M 0s
  3400K .......... .......... .......... .......... .......... 42% 90.8M 0s
  3450K .......... .......... .......... .......... .......... 43%  417M 0s
  3500K .......... .......... .......... .......... .......... 43% 53.8M 0s
  3550K .......... .......... .......... .......... .......... 44% 53.1M 0s
  3600K .......... .......... .......... .......... .......... 45% 8.38M 0s
  3650K .......... .......... .......... .......... .......... 45% 44.1M 0s
  3700K .......... .......... .......... .......... .......... 46% 77.4M 0s
  3750K .......... .......... .......... .......... .......... 47% 31.4M 0s
  3800K .......... .......... .......... .......... .......... 47% 51.2M 0s
  3850K .......... .......... .......... .......... .......... 48%  479M 0s
  3900K .......... .......... .......... .......... .......... 48% 81.5M 0s
  3950K .......... .......... .......... .......... .......... 49% 63.3M 0s
  4000K .......... .......... .......... .......... .......... 50%  105M 0s
  4050K .......... .......... .......... .......... .......... 50% 27.5M 0s
  4100K .......... .......... .......... .......... .......... 51%  113M 0s
  4150K .......... .......... .......... .......... .......... 52% 83.5M 0s
  4200K .......... .......... .......... .......... .......... 52% 61.8M 0s
  4250K .......... .......... .......... .......... .......... 53%  115M 0s
  4300K .......... .......... .......... .......... .......... 53%  101M 0s
  4350K .......... .......... .......... .......... .......... 54% 52.4M 0s
  4400K .......... .......... .......... .......... .......... 55%  337M 0s
  4450K .......... .......... .......... .......... .......... 55% 16.6M 0s
  4500K .......... .......... .......... .......... .......... 56% 70.8M 0s
  4550K .......... .......... .......... .......... .......... 57% 86.0M 0s
  4600K .......... .......... .......... .......... .......... 57% 59.6M 0s
  4650K .......... .......... .......... .......... .......... 58%  351M 0s
  4700K .......... .......... .......... .......... .......... 58% 84.2M 0s
  4750K .......... .......... .......... .......... .......... 59% 58.5M 0s
  4800K .......... .......... .......... .......... .......... 60% 93.0M 0s
  4850K .......... .......... .......... .......... .......... 60% 50.2M 0s
  4900K .......... .......... .......... .......... .......... 61%  126M 0s
  4950K .......... .......... .......... .......... .......... 61% 44.4M 0s
  5000K .......... .......... .......... .......... .......... 62% 89.1M 0s
  5050K .......... .......... .......... .......... .......... 63%  131M 0s
  5100K .......... .......... .......... .......... .......... 63% 66.3M 0s
  5150K .......... .......... .......... .......... .......... 64% 65.3M 0s
  5200K .......... .......... .......... .......... .......... 65%  115M 0s
  5250K .......... .......... .......... .......... .......... 65% 45.3M 0s
  5300K .......... .......... .......... .......... .......... 66%  141M 0s
  5350K .......... .......... .......... .......... .......... 66% 64.2M 0s
  5400K .......... .......... .......... .......... .......... 67% 72.3M 0s
  5450K .......... .......... .......... .......... .......... 68% 77.9M 0s
  5500K .......... .......... .......... .......... .......... 68%  113M 0s
  5550K .......... .......... .......... .......... .......... 69% 43.8M 0s
  5600K .......... .......... .......... .......... .......... 70%  279M 0s
  5650K .......... .......... .......... .......... .......... 70%  103M 0s
  5700K .......... .......... .......... .......... .......... 71% 51.3M 0s
  5750K .......... .......... .......... .......... .......... 71% 57.0M 0s
  5800K .......... .......... .......... .......... .......... 72%  525M 0s
  5850K .......... .......... .......... .......... .......... 73% 28.1M 0s
  5900K .......... .......... .......... .......... .......... 73% 72.3M 0s
  5950K .......... .......... .......... .......... .......... 74% 9.10M 0s
  6000K .......... .......... .......... .......... .......... 74% 72.1M 0s
  6050K .......... .......... .......... .......... .......... 75% 74.8M 0s
  6100K .......... .......... .......... .......... .......... 76% 78.0M 0s
  6150K .......... .......... .......... .......... .......... 76% 34.6M 0s
  6200K .......... .......... .......... .......... .......... 77% 69.7M 0s
  6250K .......... .......... .......... .......... .......... 78% 89.4M 0s
  6300K .......... .......... .......... .......... .......... 78% 69.2M 0s
  6350K .......... .......... .......... .......... .......... 79% 48.2M 0s
  6400K .......... .......... .......... .......... .......... 79%  116M 0s
  6450K .......... .......... .......... .......... .......... 80% 57.5M 0s
  6500K .......... .......... .......... .......... .......... 81% 81.5M 0s
  6550K .......... .......... .......... .......... .......... 81% 53.2M 0s
  6600K .......... .......... .......... .......... .......... 82%  102M 0s
  6650K .......... .......... .......... .......... .......... 83% 30.3M 0s
  6700K .......... .......... .......... .......... .......... 83%  136M 0s
  6750K .......... .......... .......... .......... .......... 84% 75.2M 0s
  6800K .......... .......... .......... .......... .......... 84%  106M 0s
  6850K .......... .......... .......... .......... .......... 85% 67.9M 0s
  6900K .......... .......... .......... .......... .......... 86% 20.1M 0s
  6950K .......... .......... .......... .......... .......... 86% 95.6M 0s
  7000K .......... .......... .......... .......... .......... 87% 68.3M 0s
  7050K .......... .......... .......... .......... .......... 87%  414M 0s
  7100K .......... .......... .......... .......... .......... 88% 32.1M 0s
  7150K .......... .......... .......... .......... .......... 89%  326M 0s
  7200K .......... .......... .......... .......... .......... 89%  271M 0s
  7250K .......... .......... .......... .......... .......... 90% 26.7M 0s
  7300K .......... .......... .......... .......... .......... 91% 53.2M 0s
  7350K .......... .......... .......... .......... .......... 91%  109M 0s
  7400K .......... .......... .......... .......... .......... 92% 64.8M 0s
  7450K .......... .......... .......... .......... .......... 92%  407M 0s
  7500K .......... .......... .......... .......... .......... 93% 82.5M 0s
  7550K .......... .......... .......... .......... .......... 94% 41.7M 0s
  7600K .......... .......... .......... .......... .......... 94% 63.8M 0s
  7650K .......... .......... .......... .......... .......... 95%  107M 0s
  7700K .......... .......... .......... .......... .......... 96%  166M 0s
  7750K .......... .......... .......... .......... .......... 96% 50.2M 0s
  7800K .......... .......... .......... .......... .......... 97% 62.8M 0s
  7850K .......... .......... .......... .......... .......... 97% 19.3M 0s
  7900K .......... .......... .......... .......... .......... 98%  303M 0s
  7950K .......... .......... .......... .......... .......... 99%  428M 0s
  8000K .......... .......... .......... .......... .......... 99%  549M 0s
  8050K .......... ........                                   100%  303M=0.2s

2025-07-06 00:37:16 (51.2 MB/s) - ‘green_tripdata_2019-10.csv.gz.1’ saved [8262584/8262584]

0

In [4]:
import pandas as pd

df = pd.read_csv("green_tripdata_2019-10.csv")

/var/folders/2d/272ywp112_39h3qdgj9g8gym0000gn/T/ipykernel_34023/1709243292.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2019-10.csv")

In [9]:
len(df)

476386

In [8]:
df1 = pd.read_csv("output.csv")

df1.head()

/var/folders/2d/272ywp112_39h3qdgj9g8gym0000gn/T/ipykernel_34023/2808052598.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("output.csv")

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5